@font-face {
    font-family: 'SLIDER';
    src: url('../font/me123-webfont.woff2') format('woff2'),
         url('../font/me123-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
  background: url("../images/background2.jpg");
  height: 100%;
}

h4, h6{
  color: white;
  font-family: SLIDER;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.myNavBar{
	 background-color: teal;
	 overflow: hidden;
}

.myNavBar a {
  font-family: SLIDER;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.myNavBar a:hover {
  background-color: red;
  color: black;
}

.characters p{
	color:white;
	font-family: SLIDER;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.yourCharacter p{
	color: white;
	font-family: SLIDER;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.fighters p{
	font-family: SLIDER;

}

.character-image {
	width: 200px;
	height: 200px;
  	padding: 5px 20px;
  	clear: both;
}

.character{
    position: relative;
    text-align: center;
    color: black;
    padding: 5px 20px;
    text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF; 
}

.defender{
	height: 285px;
	font-family: SLIDER;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.btn{
	font-family: SLIDER;
	 background-color: teal;
	 border-color: teal;
}

.btn:hover, .btn:active {
	outline: none !important;
	box-shadow: none;
	background-color: red;
	border-color: red;
}
.btn:focus{
	outline: none !important;
	box-shadow: none;	
}

.container-div{
	border: black;
    border-style: solid;
}
/*
.centered {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/
/*
.yourCharacter{
	display: block; 
}
*/