body{
  background: url("../images/background.jpg");
  height: 100%;
}

.character-image {
	width: 200px;
	height: 200px;
  	padding: 5px 20px;
  	clear: both;
}

.character{
    position: relative;
    text-align: center;
    color: black;
    padding: 5px 20px;

}
.container-div{
	border: black;
    border-style: solid;
}
/*
.centered {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/
/*
.yourCharacter{
	display: block; 
}
*/