@font-face {
    font-family: 'SLIDER';
    src: url('../font/me123-webfont.woff2') format('woff2'),
         url('../font/me123-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
  background: url("../images/background2.jpg");
  height: 100%;
}

h4, h6{
  color: white;
  font-family: SLIDER;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.characters p{
	color:white;
	font-family: SLIDER;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.yourCharacter p{
	color: white;
	font-family: SLIDER;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.fighters p{
	font-family: SLIDER;

}

.character-image {
	width: 200px;
	height: 200px;
  	padding: 5px 20px;
  	clear: both;
}

.character{
    position: relative;
    text-align: center;
    color: black;
    padding: 5px 20px;
    text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF; 
}

.defender{
	font-family: SLIDER;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.btn{
	font-family: SLIDER;

}

.container-div{
	border: black;
    border-style: solid;
}
/*
.centered {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/
/*
.yourCharacter{
	display: block; 
}
*/